<style>
  iframe {
    width: 100%;
    height: 90vh;
    border: none;
  }
</style>
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Report</a></li>
      <li class="breadcrumb-item active" aria-current="page">User</li>
    </ol>
  </nav>
  <iframe src="<%- pdfPath %>"></iframe>
</div>